# Importing packages and config

In [1]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))



DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")
DWH_ENDPOINT           = config.get("DWH","host")

# Connect to postgresql

In [2]:
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# Example queries

## Example query 1: Show recent songplay activity

A basic query that shows 10 most recent song play facts, from the fact table.

In [8]:
%%sql 

select * from fact_songplay
ORDER BY start_time desc
limit 10;

 * postgresql://dwhuser:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(131, datetime.datetime(2018, 11, 30, 17, 31, 24, 796000), 49, 'paid', 'SODVXIB12AF72A37F3', 'AR3FYKL1187FB44945', 1114, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (86, datetime.datetime(2018, 11, 30, 17, 25, 36, 796000), 49, 'paid', 'SOHTKMO12AB01843B0', 'AR5EYTL1187B98EDA0', 1114, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (190, datetime.datetime(2018, 11, 30, 16, 51, 42, 796000), 16, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 1076, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (230, datetime.datetime(2018, 11, 30, 16, 43, 28, 796000), 33, 'free', 'SOKSREW12A6D4F926D', 'ARC4W081187B9ACDBD', 1026, 'Eugene, OR', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (227, datetime.datetime(2018, 11, 30, 14, 42, 1, 796000), 85, 'paid', 'SOPPSDA12AF72A3D97', 'ARDAF601187FB4CD05', 977, 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (24, datetime.datetime(2018, 11, 30, 14, 7, 56, 796000), 85, 'paid', 'SOXFSTR12A8AE463B0', 'ARR3ONV1187B9A2F59', 977, 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (224, datetime.datetime(2018, 11, 30, 13, 52, 37, 796000), 49, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 1096, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (13, datetime.datetime(2018, 11, 30, 12, 57, 53, 796000), 61, 'free', 'SOJDXQI12AF72A580E', 'AR048JZ1187B9AEB85', 1064, 'Houston-The Woodlands-Sugar Land, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (254, datetime.datetime(2018, 11, 30, 12, 39, 36, 796000), 49, 'paid', 'SOUNZHU12A8AE47481', 'AR37SX11187FB3E164', 1096, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (130, datetime.datetime(2018, 11, 30, 10, 42, 9, 796000), 36, 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 998, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

## Example Query #2: Most active users in a given period

Identifies 10 most active users in a given time-span.

1. Subquery identifies 10 most active users (as per agreggated counts of user activity in a given period)
2. Inner join with `dim_user` table fills in user information
3. Another sort (`ORDER BY`) conveniently displays the most active user info for analysis

In [49]:
%%sql 
SELECT * from dim_user as du
INNER JOIN
(SELECT fs.user_id,  count(fs.user_id) as activity_level
FROM fact_songplay as fs
WHERE start_time BETWEEN '2018-11-01' and '2018-11-30'
GROUP BY fs.user_id
ORDER by activity_level DESC
LIMIT 10) as fs on du.user_id=fs.user_id
ORDER BY activity_level DESC

 * postgresql://dwhuser:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
16 rows affected.

[(49, 'Chloe', 'Cuevas', 'F', 'free', 49, 33),
 (49, 'Chloe', 'Cuevas', 'F', 'paid', 49, 33),
 (97, 'Kate', 'Harrell', 'F', 'paid', 97, 32),
 (80, 'Tegan', 'Levine', 'F', 'free', 80, 31),
 (80, 'Tegan', 'Levine', 'F', 'paid', 80, 31),
 (44, 'Aleena', 'Kirby', 'F', 'paid', 44, 21),
 (73, 'Jacob', 'Klein', 'M', 'paid', 73, 18),
 (88, 'Mohammad', 'Rodriguez', 'M', 'free', 88, 17),
 (88, 'Mohammad', 'Rodriguez', 'M', 'paid', 88, 17),
 (15, 'Lily', 'Koch', 'F', 'paid', 15, 15),
 (15, 'Lily', 'Koch', 'F', 'free', 15, 15),
 (29, 'Jacqueline', 'Lynch', 'F', 'free', 29, 13),
 (24, 'Layla', 'Griffin', 'F', 'paid', 24, 13),
 (29, 'Jacqueline', 'Lynch', 'F', 'paid', 29, 13),
 (36, 'Matthew', 'Jones', 'M', 'free', 36, 11),
 (36, 'Matthew', 'Jones', 'M', 'paid', 36, 11)]

## Example Query 3: Most popular songs in a given period for a given region.

Query analogical to the previous one, helps to identify most popular songs in a given period with an additional spin focus on the region.

Query comprises of 3 subqueries:
1. Looks at fact table `fact_songplay` and identifies 25 most played `song_id`s for a given period
2. Extracts song song title and duration from `dim_song` dimension table
3. Extracts the human-readable name of the artist from the `dim_artist` dimension table.

In [104]:
%%sql


SELECT name,aa.location,title,duration,count
FROM dim_artist as da
INNER JOIN
    (SELECT *
    FROM dim_song as DS
    INNER JOIN 
        (SELECT fs.song_id ,  fs.location, count(fs.song_id) as count
        FROM fact_songplay fs
        WHERE fs.start_time BETWEEN '2018-11-01' and '2018-11-30' 
        GROUP BY fs.song_id, fs.location
        ORDER BY count DESC
        limit 25) as fs 
    ON DS.song_id=fs.song_id) as aa ON aa.artist_id=da.artist_id
    
    ORDER BY count DESC

 * postgresql://dwhuser:***@dwhcluster.cgxtkssnactv.us-west-2.redshift.amazonaws.com:5439/dwh
31 rows affected.

[('Dwight Yoakam', 'Lansing-East Lansing, MI', "You're The One", 239.3073, 5),
 ('Ron Carter', 'San Francisco-Oakland-Hayward, CA', "I CAN'T GET STARTED", 497.13587, 3),
 ('Dwight Yoakam', 'Atlanta-Sandy Springs-Roswell, GA', "You're The One", 239.3073, 3),
 ('Dwight Yoakam', 'Chicago-Naperville-Elgin, IL-IN-WI', "You're The One", 239.3073, 3),
 ('Dwight Yoakam', 'San Francisco-Oakland-Hayward, CA', "You're The One", 239.3073, 3),
 ('Dwight Yoakam', 'Lake Havasu City-Kingman, AZ', "You're The One", 239.3073, 3),
 ('Black Eyed Peas / Les Nubians / Mos Def', 'San Francisco-Oakland-Hayward, CA', "Let's Get It Started", 229.61587, 2),
 ('The Smiths', 'Lansing-East Lansing, MI', 'Girlfriend In A Coma', 123.01016, 2),
 ('Black Eyed Peas', 'San Francisco-Oakland-Hayward, CA', "Let's Get It Started", 229.61587, 2),
 ('Dwight Yoakam', 'New Haven-Milford, CT', "You're The One", 239.3073, 2),
 ('Black Eyed Peas / Terry Dexter', 'San Francisco-Oakland-Hayward, CA', "Let's Get It Started", 229.61587, 2),
 ('Dwight Yoakam', 'Sacramento--Roseville--Arden-Arcade, CA', "You're The One", 239.3073, 2),
 ('Muse', 'Atlanta-Sandy Springs-Roswell, GA', 'Supermassive Black Hole (Album Version)', 209.34485, 2),
 ('Dwight Yoakam', 'Marinette, WI-MI', "You're The One", 239.3073, 2),
 ('B.o.B', 'Tampa-St. Petersburg-Clearwater, FL', "Nothin' On You [feat. Bruno Mars] (Album Version)", 269.63546, 2),
 ('Dwight Yoakam', 'San Jose-Sunnyvale-Santa Clara, CA', "You're The One", 239.3073, 2),
 ('38 Special', 'San Antonio-New Braunfels, TX', 'Caught Up In You', 280.76363, 2),
 ('Dwight Yoakam', 'Tampa-St. Petersburg-Clearwater, FL', "You're The One", 239.3073, 2),
 ('Usher', 'Portland-South Portland, ME', "Hey Daddy (Daddy's Home)", 224.10404, 2),
 ('Usher', 'Tampa-St. Petersburg-Clearwater, FL', "Hey Daddy (Daddy's Home)", 224.10404, 2),
 ('Usher featuring Jermaine Dupri', 'Portland-South Portland, ME', "Hey Daddy (Daddy's Home)", 224.10404, 2),
 ('Usher featuring Jermaine Dupri', 'Tampa-St. Petersburg-Clearwater, FL', "Hey Daddy (Daddy's Home)", 224.10404, 2),
 ('Tweet', 'Marinette, WI-MI', 'Always Will (LP Version)', 281.80853, 1),
 ('Black Eyed Peas / Les Nubians / Mos Def', 'Nashville-Davidson--Murfreesboro--Franklin, TN', "Let's Get It Started", 229.61587, 1),
 ('matchbox twenty', 'Lake Havasu City-Kingman, AZ', 'Unwell (Album Version)', 229.14567, 1),
 ('Whitesnake', 'Marinette, WI-MI', 'Fool For Your Loving', 250.3571, 1),
 ('Counting Crows', 'Augusta-Richmond County, GA-SC', 'Mr. Jones', 272.79628, 1),
 ('Black Eyed Peas', 'Nashville-Davidson--Murfreesboro--Franklin, TN', "Let's Get It Started", 229.61587, 1),
 ('The Human League', 'Atlanta-Sandy Springs-Roswell, GA', 'Human', 265.35138, 1),
 ('Black Eyed Peas / Terry Dexter', 'Nashville-Davidson--Murfreesboro--Franklin, TN', "Let's Get It Started", 229.61587, 1),
 ('Radiohead', 'Columbia, SC', 'Pop Is Dead', 130.82077, 1)]